<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
  	<ul>
  		<li><a href="/">David</a></li>
  		<li><a href="/laura">Laura</a></li>
  		<li><a href="/jim">Jim</a></li>
  	</ul>
  </nav>