<%- include partials/header.ejs %>
    <h1><%= name %></h1>
    <p>David, son of Jim and Laura, is currently a student at Georgian College in the interactive web design and development program. He likes the design aspect a lot more and isn't very good at programming, he just finished his co-op as a UI/UX designer. In his spare time he likes to draw and play video games.</p>
  </body>
</html>
