<%- include partials/header.ejs %>
    <h1><%= name %></h1>
    <p>Jim, father of David, husband of Laura, obtainted an MBA from Schulich in Toronto and has been in the finance world ever since. He has spent 30 years in investment banking, personal and corporate finance and, mostly, investment fund management. He doesnt have much spare time, but does enjoy to read mystery novels when he gets a chance.</p>
  </body>
</html>