<%- include partials/header.ejs %>
    <h1><%= name %></h1>
    <p>Laura, mother of David, wife of Jim, is currently retired, after countless years of franchising three different Crabtree & Evelyn stores, and owning a local flower shop. In her spare time she enjoys painting and cooking.</p>
  </body>
</html>